# Screaming Channels repository. 
export SC=$HOME/git/screaming_channels_ble
# Screaming Channels source directory containing Python modules. 
export SC_SRC=$SC/src
# Allows to import Screaming Channels Python modules in scripts here.
export PYTHONPATH=$SC_SRC
# Project root path.
export PROJECT_PATH="$(realpath .)"
# Nordic SDK.
export NORDIC_SEMI_SDK=/opt/nRF5_SDK_14.2.0_17b948a
